<!DOCTYPE html>
<html>
    <head>
        <title>Reversed Snake</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='styles/main.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id = "menu">
            <div id = "setting">
                <i id = "gear" class = "fa fa-gear"> </i>
            </div>
            <div id = "play-pause-div">
                <i id = 'play-pause' class="fa fa-play-circle-o" aria-hidden="true"></i>
            </div>
            <div id = "score">0</div>
        </div>
        <div id = "main">

        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
    </body>
</html