body {
    margin: 0px;
}

#main {
    z-index: 0;
    text-align: center;
    font-size: 21px;
}

#menu {
    position: absolute;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
    z-index: 1;
    width: 100%;
    margin-top: 20px;
}

#score {
    float: left;
    width: 30%;
    text-align: right;
    color : black;
    font-size: 50px;
    padding-right: 3%;
}

#setting {
    float: left;
    width: 30%;
    font-size: 50px;
    padding-left: 3%;
}

#gear {
    text-align: left;
}

#play-pause-div {
    float: left;
    width: 33%;
    text-align: center;
}

#play-pause {
    font-size: 50px;
}

.icon-HeadR:before {
    content: "\e900";
  }